In [109]:
import pandas
import numpy
import matplotlib.pyplot as mpl
import seaborn

In [114]:
import warnings
warnings.filterwarnings("ignore")

seaborn.set(style="whitegrid")

In [115]:
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler 
from sklearn. linear_model import LogisticRegression 
from sklearn.metrics import classification_report, confusion_matrix 
from sklearn.pipeline import Pipeline 
from sklearn. compose import ColumnTransformer 
from sklearn.preprocessing import OneHotEncoder

In [113]:
data_set = pandas.read_csv("AIML Dataset.csv")

In [120]:
data_model = data_set.drop(["step", "nameOrig", "nameDest", "isFlaggedFraud"], axis = 1)

In [122]:
data_model.head()

,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0
1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0
2,TRANSFER,181.00,181.0,0.00,0.0,0.0,1
3,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1
4,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0